<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<property name="logPattern" value="%d %-5level %logger{35} - %msg%n"/>
	<property name="logEncoding" value="UTF-8"/>
	<property name="logDirectory" value="${catalina.base}/logs"/>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder>
			<pattern>${logPattern}</pattern>
		</encoder>
	</appender>
	
	<logger name="jdbc" level="OFF"/>
  
	<logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
    	<appender-ref ref="STDOUT" />
	</logger>  
  
	<logger name="jdbc.resultsettable" level="DEBUG" additivity="false"> 
    	<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="com.sejong.newbluebrick" level="DEBUG" additivity="false"> 
    	<appender-ref ref="STDOUT" />
	</logger>
	
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
  
</configuration>